In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("dataset/SQuAD-v1.1.csv")
df

,title,context,question,answer,answer_start,answer_end
0,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",To whom did the Virgin Mary allegedly appear i...,Saint Bernadette Soubirous,515,541
1,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is in front of the Notre Dame Main Building?,a copper statue of Christ,188,213
2,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",The Basilica of the Sacred heart at Notre Dame...,the Main Building,279,296
3,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is the Grotto at Notre Dame?,a Marian place of prayer and reflection,381,420
4,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What sits on top of the Main Building at Notre...,a golden statue of the Virgin Mary,92,126
...,...,...,...,...,...,...
87594,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,Oregon,229,235
87595,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",What was Yangon previously known as?,Rangoon,414,421
87596,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,476,481
87597,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,199,203
87598,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,0,27

In [3]:
train_df,dummy_df=train_test_split(df,random_state=42,test_size=0.2)

In [4]:
test_df,valid_df=train_test_split(dummy_df,random_state=42,test_size=0.5)

In [5]:
train_df

,title,context,question,answer,answer_start,answer_end
41171,Chicago_Cubs,"After over a dozen more subpar seasons, in 198...",What team had Dallas Green managed in 1980?,Phillies,154,162
11421,Arnold_Schwarzenegger,Schwarzenegger's endorsement in the Republican...,Which candidate withdrew from the presidential...,Rudy Giuliani,156,169
45787,Predation,It has been observed that well-fed predator an...,Captive animals can distinguish co-inhabitats ...,wild ones outside the area,224,250
38917,Napoleon,"After returning from Egypt, Napoleon engineere...",The results of which battle allowed the Britis...,the Battle of Trafalgar,919,942
72419,"Charleston,_South_Carolina","By 1820, Charleston's population had grown to ...",How was Vesey executed in 1822?,hanged,382,388
...,...,...,...,...,...,...
6265,Kanye_West,Adams sent condolences to Donda West's family ...,On what day did the final coroner's report sho...,"January 10, 2008",640,656
54886,Tuberculosis,Tuberculosis has been present in humans since ...,In which U.S. state was the oldest definitive ...,Wyoming,171,178
76820,"Tucson,_Arizona",Tucson is known for being a trailblazer in vol...,What major cities later adopted Tucson's city ...,San Francisco and New York City,757,788
860,Beyoncé,Beyoncé's work has influenced numerous artists...,Which rock band cited Beyonce on their third a...,White Rabbits,292,305
15795,Catalan_language,Despite the position of the official organizat...,Who uses a Valencian standard separate from Ca...,Royal Academy of Valencian Culture,488,522

In [6]:
test_df

,title,context,question,answer,answer_start,answer_end
73828,Greeks,"In the religious sphere, this was a period of ...",What encouraged the change of faith ?,with the introduction of new religious movemen...,201,264
85741,Dwight_D._Eisenhower,"As the election approached, other prominent ci...",How old would Eisenhower be in 1956?,66,814,816
53539,Molotov%E2%80%93Ribbentrop_Pact,Although Germany used forced labourers in most...,How many Jews died in the Warsa Ghetto?,"43,000",686,692
35279,Nintendo_Entertainment_System,"As the 1990s dawned, gamers predicted that com...",When did the demand for new NES software dry up?,late 1993,559,568
62356,PlayStation_3,"Since the system's launch, production costs ha...",What's the name of the microprocessor produced...,Cell,181,185
...,...,...,...,...,...,...
81757,Russian_language,The political reforms of Peter the Great (Пётр...,Who wrote 'War and Peace'?,Leo Tolstoy,397,408
22613,High-definition_television,Analog tape recorders with bandwidth capable o...,"In the secondary market, analog tape recorders...",expensive and scarce,162,182
58997,Galicia_(Spain),Hundreds of ancient standing stone monuments l...,Name two of these cities.,Lugo and Ourense,721,737
72938,The_Blitz,The WVS (Women's Voluntary Services for Civil ...,How many gas mask were issued before the war?,50 million,475,485
81389,Immaculate_Conception,"On 28 February 1476, Pope Sixtus IV, authorize...",What happened on the final day of the month of...,authorized those dioceses that wished to intro...,37,160

In [7]:
valid_df

,title,context,question,answer,answer_start,answer_end
56510,Dissolution_of_the_Soviet_Union,"On November 13, 1988, approximately 10,000 peo...",What is the English translation of Zelenyi Svit?,Green World,238,249
55428,Baptists,Historians trace the earliest Baptist church b...,Who was the pastor of the earliest Baptist chu...,John Smyth,77,87
69079,Rajasthan,The Aravalli Range runs across the state from ...,What is the average elevation of the south-eas...,100 to 350 m above sea level,517,545
61391,Gamal_Abdel_Nasser,The crowd roared in approval and Arab audience...,To what group did many of the arrested dissent...,Brotherhood,315,326
56163,On_the_Origin_of_Species,Charles Darwin's grandfather Erasmus Darwin ou...,Whose paleontology work in the 1790s establish...,Georges Cuvier,832,846
...,...,...,...,...,...,...
75178,51st_state,"There are four categories of terra nullius, la...",What are the four categories of terra nullius?,the small unclaimed territory of Bir Tawil bet...,81,193
27824,Imperial_College_London,The College's endowment is sub-divided into th...,How much did the market value of the endowment...,£78 million,609,620
60457,Strasbourg,"Strasbourg's historic city centre, the Grande ...",What is the culture in Strasbourg?,Franco-German,219,232
11803,Plymouth,Other sports clubs include Plymouth Albion R.F...,What British Basketball League team calls Plym...,Plymouth Raiders,58,74
87592,Kathmandu,The main international airport serving Kathman...,From what city does Arkefly offer nonstop flig...,Amsterdam,698,707

In [8]:
from datasets import load_dataset# datasets try load our dataset in object suitable for transformers
from transformers import  TFBertModel,BertTokenizerFast
import tensorflow as tf

C:\Users\AYAABDELHADY\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

WARNING:tensorflow:From C:\Users\AYAABDELHADY\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [9]:
train_df.to_csv("train.csv",index=False)
test_df.to_csv("test.csv",index=False)
valid_df.to_csv("valid.csv",index=False)

In [10]:
dataset=load_dataset("csv",data_files={'train':"dataset/train.csv",'test':"dataset/test.csv"})#convert my dataset into object suitable for transformers
tokenizer = BertTokenizerFast.from_pretrained('bert-base-uncased')
def preprocess(example):
    if example["answer"] is None or example["answer_start"] is None:
        return None
    inputs = tokenizer(#tokenize question and context only
        example["question"],
        example["context"],
        max_length=384,
        truncation="only_second",
        padding="max_length",
        return_offsets_mapping=True
    )

    # Calculate start/end token positions for the answer
    start_char = example["answer_start"]# The starting character index of the answer in the context
    end_char = start_char + len(example["answer"]) # The ending character index of the answer in the context
    offsets = inputs["offset_mapping"]#Get the list of (start, end) offsets for each token

    # Find the token positions of the answer
    start_pos = end_pos = 0 # Initialize positions (start and end) to 0
    for idx, (start, end) in enumerate(offsets):
        if start <= start_char < end: # If the token contains the starting character of the answer
            start_pos = idx# Set the start position to the current token's index
        if start < end_char <= end:# If the token contains the ending character of the answer
            end_pos = idx # Set the end position to the current token's index
            break
# Add the start and end token positions to the tokenized input 
    inputs["start_positions"] = start_pos # Position of the answer's start token
    inputs["end_positions"] = end_pos# Position of the answer's end token
    inputs.pop("offset_mapping")  # No need to keep this during training , Remove the 'offset_mapping' as it's not needed for training

    return inputs# Return the processed inputs with the added start and end positions

#“Here is a question + context pair. Turn them into tokens, and tell me where each token came from in the original text (using offset_mapping).”

Generating train split: 70079 examples [00:01, 44378.72 examples/s]
Generating test split: 8760 examples [00:00, 58250.16 examples/s]

In [11]:
tokenized_train = dataset["train"].map(preprocess)
tokenized_test = dataset["test"].map(preprocess)

Map:   0%|          | 0/70079 [00:00<?, ? examples/s]

Map: 100%|██████████| 70079/70079 [02:10<00:00, 538.11 examples/s]
Map: 100%|██████████| 8760/8760 [00:19<00:00, 448.10 examples/s]

In [12]:
from transformers import BertForQuestionAnswering

# Load pre-trained BERT model with a QA head
model = BertForQuestionAnswering.from_pretrained("bert-base-uncased")# call model special for question answering tasks from large language model bert-base-uncased

Some weights of BertForQuestionAnswering were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['qa_outputs.bias', 'qa_outputs.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

after building model we want to train it with some trainig arguments

In [13]:
from transformers import Trainer,TrainingArguments
training_arg=TrainingArguments(
    output_dir="dataset/results",# store our output in this directory
    eval_strategy="epoch",# we will follow strategy of ebochs 
    learning_rate=2e-5,
    per_device_train_batch_size=4,# four samples each time
    per_device_eval_batch_size=4,
    num_train_epochs=1,# number of ebochs 
    weight_decay=0.01,# intialization of weights 


)
#similar to compile process
trainer=Trainer(
    model=model,#the model that you determine it that is BertForQuestionAnswering
    args=training_arg,
    train_dataset=tokenized_train,
    eval_dataset=tokenized_test,


)

In [ ]:
trainer.train()

In [ ]:
evaluate_result=trainer.evaluate()
print(evaluate_result['eval_loss'])